<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>PII Masking</title>-->
<!--</head>-->
<!--<body>-->

<!--<form action="/index" method="GET">-->
<!--    <input type="submit" value="Click to Download File">-->
<!--</form>-->

<!--<h2>File Upload & Image Preview</h2>-->
<!--<p class="lead">No Plugins <b>Just Javascript</b></p>-->

<!--&lt;!&ndash; Upload  &ndash;&gt;-->
<!--<form id="file-upload-form" class="uploader">-->
<!--  <input id="file-upload" type="file" name="fileUpload" accept="image/*" />-->

<!--  <label for="file-upload" id="file-drag">-->
<!--    <img id="file-image" src="#" alt="Preview" class="hidden">-->
<!--    <div id="start">-->
<!--      <i class="fa fa-download" aria-hidden="true"></i>-->
<!--      <div>Select a file or drag here</div>-->
<!--      <div id="notimage" class="hidden">Please select an image</div>-->
<!--      <span id="file-upload-btn" class="btn btn-primary">Select a file</span>-->
<!--    </div>-->
<!--    <div id="response" class="hidden">-->
<!--      <div id="messages"></div>-->
<!--      <progress class="progress" id="file-progress" value="0">-->
<!--        <span>0</span>%-->
<!--      </progress>-->
<!--    </div>-->
<!--  </label>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Upload new File</title>-->
<!--    <h1>Upload new File</h1>-->
<!--    <form action="" method=post enctype=multipart/form-data>-->
<!--      <p><input type=file name=file>-->
<!--         <input type=submit value=Upload>-->
<!--    </form>-->
<!--</head>-->
<!--<body>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload new File</title>
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/js/all.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="static/style.css" type="text/css">
{#    <h1>Upload new File</h1>#}
</head>
<body>
<div class="wrapper">
  <div class="container">
    <h1>Upload a file</h1>
    <div class="upload-container">
      <div class="border-container">
        <div class="icons fa-4x">
          <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
          <i class="far fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
          <i class="far fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
        </div>
        <form action="http://localhost:5000/uploader" method=post enctype=multipart/form-data>
          <input type=file name=file>
            <input type=submit value=Upload>
        </form>
          <p>Drag and drop files here, or
              <a href="#" id="file-upload">browse</a> your computer.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>